.detailsPageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detailsPageContainer h1 {
    /* flex: 1 0 100%;
    text-align: center;
    padding: 0.5em; */
}

.menuItem {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* place-content: center; */
    /* justify-items: center; */
    align-items: center;
    gap: 2em;
}

.menuItem ul {
    display: flex;
    padding: 0;
}

.menuItem li {
    display: flex;
}

.menuItem img {
    display: block;
    width: 150px;
    height: 100px;
}

.menuItemImgContainer {
    display: flex;
    align-items: center;
    /* width: 150px;
    height: 150px; */
}

.menuStars {
    justify-self: end;
}

/* .descriptionContainer {
    max-width: 175px;
    overflow: hidden;
} */

.descriptionContainer p {
    font-size: 16px;
}

.menuPrice {
    justify-items: flex-end;
    align-items: center;
}

.menuPrice p {
    margin: 0;
}

.ingreadiants {
    font-size: 14px;
}

.mapPosition {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.commentSection {
    flex-basis: 75%;
}

.detailsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 55%;
    padding: 1em;
}

.detailsTitle span {
    align-self: flex-start;
    padding-top: 0.5em;
}