.detailsPageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

.detailsTitleContainer {
    display: flex;
    justify-content: center;
    flex: 0 1 50%;
}

.imgTitle {
    display: flex;
    justify-content: space-between;
    flex: 0 1 50%;
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2em;
}

.menuItem ul {
    display: flex;
    padding: 0;
}

.menuItem li {
    display: flex;
}

.menuItem img {
    display: block;
    width: 150px;
    height: 100px;
}

.menuItemImgContainer {
    display: flex;
    align-items: center;
}

.menuStars {
    justify-self: end;
}

.menuPrice {
    justify-items: flex-end;
    align-items: center;
}

.menuPrice p {
    margin: 0;
}

.ingreadiants {
    font-size: 12px;
}

.mapPosition {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.commentSection {
    display: flex;
    margin-top: 2em;
    flex: 0 1 75%;
}

.detailsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 55%;
    padding: 1em;
}

.detailsTitle span {
    align-self: flex-start;
    padding-top: 0.5em;
}