.catalog {
    display: flex;
    align-items: center;
}

.rating {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: rgb(241, 238, 238);
}

.stars {
    margin-left: 1.5em;
}

.images {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

}