.shoppingCart {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    min-width: 200px;
    height: auto;
    top: 80px;
    left: 80%;
    right: 0.5em;
    z-index: 1;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.7);
}

.shoppingCart p {
    font-size: 0.8em;
}


.shoppingCart img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.shoppingCartDetails {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.1fr;
    justify-items: center;
    margin-left: 0.2em;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.shoppingCartChekout {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shoppingCartChekout button {
    flex-basis: 80%;
    margin-bottom: 20px;
}

/* 
.shoppingCart button:hover {
    background-color: whitesmoke;
} */